@import url('font-awesome.css');

iframe{
border:none;
overflow-y: hidden;
overflow-x:hidden;
overflow:hidden;
width:100%;
height:100%;
background:transparent;
}

h4 {
text-align:center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
	padding:5px;
}



.form-2 {

    width: 600px;
    margin: 40px auto 30px;
    padding: 15px;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in,
.form-2 h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}

.form-2 h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}


.form-2 .float {
    width: 100%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 .float:first-of-type {
    padding-right: 5px;
}

.form-2 .float:last-of-type {
    padding-left: 5px;
}

.form-2 label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form-2 label i {
    margin-right: 5px; 
    display: inline-block;
    width: 10px;
}

.form-2 input[type=text],
.form-2 input[type=password] , .form-2 textarea {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover , .form-2 textarea:hover {
    border-color: #CCC;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus , .form-2 textarea:focus {
    border-color: #BBB;
    outline: none;
}

.form-2 input[type=button] ,.form-2 #register , .form-2 #login  , #more , .ask {

    width: 350px;
    height: 38px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
	padding-bottom:5px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 40px; 
    text-align: center;
    font-weight: bold;
	
}

.form-2 input[type=button],.form-2 #register , .form-2 #login  , #more , .ask, input[type=button]{
    background: #34a5cf; 
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.form-2 input[type=button]:hover, .form-2 #register , .form-2 #login:hover ,.form-2 #login  , #more , .ask, input[type=button]{
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}



.no-boxshadow .form-2 input[type=button]:hover,#register :hover{
    background: #ffb347;
}
.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.form-2 p:last-of-type {
    clear: both;    
}

.form-2 .opt {
    text-align: right;
    margin-right: 3px;
}